h1 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 10px;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 36px;
}
h3 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 10px;
  padding-left: 0px;
  padding-top: 20px;
  font-size: 18px;
  text-decoration: none;
}

h4 {
  font-family: 'Michroma', sans-serif;
  letter-spacing: 10px;
  padding-left: 0px;
  font-size: 16px;
}
.heading {
  width:100%;
  margin-top: 10px;
  position: absolute;
}
.code {
  width:100%;
  margin-top: 50px;
  margin-left: 20px;
  position: absolute;
}
.info {
  background: #636363;
  background: #636363;
  background: -moz-linear-gradient(top, #636363 0%, #ffffff 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #636363), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #636363 0%, #ffffff 100%);
  background: -o-linear-gradient(top, #636363 0%, #ffffff 100%);
  background: -ms-linear-gradient(top, #636363 0%, #ffffff 100%);
  background: linear-gradient(to bottom, #636363 0%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#ffffff', GradientType=0 );
  height: 300px;
  width:100%;
  margin-top: 150px;
  position: absolute;
  padding: 10px;
}
table {
  color: #000;
  background: rgba(265, 265, 265, 0.3);
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 16px;
  margin: auto;
  width:90%;
  padding-bottom: 100px;
}
td {
  width: 50%;
  vertical-align: text-top;
  padding-left: 10px;
  padding-right: 10px;
}

.details {
  margin-top: 300px;
  position: absolute;
  width: auto;
  margin: 0 auto;
}
